
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* .header{ */
  /* margin: 0 140px 0 140px;
} */

.nav1{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.div35{
  display: flex;
  align-items: center;
  margin-left: 140px;
}
.ul33{
  display: flex;
  
}
  .a1{
    font-weight: bold;
    font-size: 20px;
    color: rgba(254, 163, 1, 1);
  text-decoration: none;
}
.a2{
  color: rgba(1, 172, 253, 1);
  margin-left: 32px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;

}
.a3{
  margin-left: 32px;
  font-size: 20px;
  font-weight: 500;
  color:rgba(5, 212, 223, 1) ;
  text-decoration: none;
}
.a4{
  margin-left: 32px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}


.bbb{
  padding: 10px 60px;
  font-weight: 300px;
  font-size: 20px;
  border-radius: 12px;
  color: white;
  background-color: rgba(254, 163, 1, 1);
  margin-right: 140px;
  border: none;

}



/* }
 /* .nav{
  /* max-width: 1140px; */
  /* margin: 0 140px 0 140px; */
}
/* .img{
  display: flex;
  margin-right: 186px; */
  /* width: 100%; */
  height:;

 nav {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  /* /* height: 102px; 
   margin: 0 140px 0 140px;
  ; 
  

} 
/* .div-1{
  margin-right: 32px;
}
.c-1{
  margin-right: 32px;
  color: rgba(254, 163, 1, 1);
  

}
.c2{
  color: rgba(1, 172, 253, 1);
  margin-left: 32px;

}
.c-3{
color: rgba(5, 212, 223, 1);
margin-left: 32px;
}
.c-4{
  color: rgba(93, 88, 239, 1);
  margin-left: 32px;
}
nav a{
  text-decoration: none;
  gap: 10px;
  justify-content: space-between;
}  */ */
/* .contac{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  margin-left: 186px; */

}
/* .oraene{
  width: 500;
  font-family: 20px;
  color:rgba(255, 255, 255, 1);
  background-color: orange;
  padding: 10px 60px 10px 60px;
  border-radius: 12px;
} */




    /* banner .containner */



.containner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
/* max-width: 1160px; */
  /* width: 575px; */
  margin: 0 140px 0 140px;
  /* gap: 50px
}
.banner-container{
  /* width: 640px; */
}
/* .img2{
  width: ;
}
/* .banner-container{
  width: 640px; */
}
 */
 h1{

  font-weight: bold;
  font-size: 56px;
 }
 p{
  color: rgba(17, 17, 17, 1);
  font-weight: 500;
  font-size: 20px;
 }

 .commit{
color:rgba(254, 163, 1, 1) ;
 }
 .tom{
  color:rgba(1, 172, 253, 1) ;

 }
 .black{
  padding: 10px 47px 10px 47px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  color:rgba(255, 255, 255, 1) ;
  font-size: ;
 }
 .img2{
  width: 468px;
 }
   /* main related style */
       /* .numbar{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        width: 100%;
       } */
 .card-containner{
  /* width: 100%;
  background-image: url(../assets/bg.png);
  background-position: -top center;
  margin: 0px 143px 200px 143px;
  /* gap: 22px; */
   /* display: grid;
  grid-template-columns:repeat(3,1fr) ; */
    /* display: flex; */
    
 
  
  
 }
 .section2{
  display: flex;
  /* justify-content: space-evenly; */
  width: auto;
  padding: 0 140px 0 140px;
  gap: 22px;
 }
    .card-containner{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 22px;
     
    }
    .numbar{
      background-image: url(../assets/bg.png);
      background-position: top center;
      text-align: center;
    }
    
            /* .main-card{
              display: flex;
              justify-content: space-evenly;
            }       */ */



 .card1,.card2,.card3{
  padding: 52px 115px 287px 52px;
   width: 350px;
   border-radius: 18px;
   align-items: center;
   justify-content: center;
   gap: 22px;
   /* height: 476px; */
  /* margin: 197px 143px 200px 140px;
   */
 }
  .card1{
    width: 50%;
    height: 50%;
    padding: 52px 115px 287px 52px; ;
    /* width: 475px; */
    background-color:inherit rgba(255, 255, 255, 1);

  box-shadow: inset 0px 0px 28.3px  rgba(222, 245, 255, 1) ;

 }
 .card2{
  height:50% ; 
    width: 50%;
    padding: 52px 115px 287px 52px; ;
   background-color: rgba(255, 255, 255, 1);

  box-shadow: inset 0px 0 28.3px  rgba(255, 244, 220, 1) ;

  
 }
  .card3{
    height: 50%;
    width: 50%;
   background-color: rgba(255, 255, 255, 1);
   padding: 52px 115px 287px 52px; ;
  box-shadow: inset 0px 0px  28.3px  #F2E8FF;
    
  } 
  .h33{
  color: rgba(32, 32, 32, 1);
    font-weight: bold;
    font-size: 24px;
  }
  .p2{
    color: rgba(128, 128, 128, 1);
    font-weight:300px ;
    font-size:15px ;

  }
  .btn-1{
    border: none;
    background-color: white;
    /* margin-left: 140px; */
    font-weight:bold ;
    font-size:15px ;
    color:rgba(100, 200, 255, 1) ;
  }
  .btn-2{
    font-weight:bold;
    background-color: white;
    border: none;
    font-size:15px ;
    color: rgba(240, 170, 0, 1);
  }
  .btn-3{
    font-weight:bold ;
    background-color: white;
    border: none;
    font-size:15px ;
    color:rgba(135, 0, 255, 1) ;
  }

  .ball{
    display: flex;
    align-items: center;
    
    color: white;
margin-top:80px;
margin-bottom: 60px;
    gap:5px;
  }
  .ball1{
    height: 50px;
    width: 50px;
    color:white;
    background-color: orange;
    border-radius: 30px;
    position: relative;
    left: 720px;
    right: 720px;
  }
  .ball2{
    height: 50px;
    width: 50px;
    color: white;
    background-color: orange;
    border-radius:30px;
    position: relative;
    left:720px ;
    right: 720px;

  }
          .button2{
            color: rgba(255, 255, 255, 1);
            padding: 10px 61px;
            background-color: rgba(17, 17, 17, 1);
            border-radius: 12px;
            text-align: center;
            margin: 0 605px 60px 650px;
          }

          .h00{
            background-image: url(../assets/bg.png);
            color: rgba(0, 0, 0, 1);
            font-weight:bold ;
            font-size: 46px;
            text-align: center;
          }
       /* Our Stories */
         .main-div{
          display: flex;
          justify-content: space-around;
         }
         
         .box-image2{
          width: 100%;
          height: 120px;
          border-radius: 10px;
         }
         .div4{
          height: 300px;
          width: 250px;
         }
         .div6{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 15px;
          margin-left: 15px;
         }
         .small3{
          color: rgb(102,102,102,1);
          font-size: 15px;
          font-weight: 400;
         }
         .b2{
          font-size: 24px;
          font-weight: bold;
          color: rgb(0,0,0,1);

         }
         .div5{
          padding-left: 38px;
          padding-bottom: 34px;
          padding-top: 45px;

         }
         .box-image{
          width: 100%;
          height: 338px;
          border-radius: 10px 10px 00;
         }
         .b1{
          display: block;
          padding: 20px 38px 28px 20px;
          font-size: 15.34px;
          font-weight: bold;
          color: rgb(0,0,0,1);

         }

         /* footer */
         .footer{
          background-color: rgba(1, 172, 253, 1);
          display: flex;
          justify-content: space-between;
          align-items: start;
          padding: 123px 228px 174px 140px;
          /* padding-left: 140px;
          padding-top: 110px;
          padding-bottom:110px ;
          padding-right: 228px; */
         }

         .di7{
          width: 30%;
         }
         .footer-logo{
          margin-right: 10px;
          height: 100px;
          width: 90px;
         }
         .h35{
          font-weight: bold;
          font-size: 42px;
          color: rgba(255, 255, 255, 1);
         }
         .h41{
          color:rgba(255, 255, 255, 1) ;
          font-weight:bold ;
          font-size:26px ;
         }
         .p1{
          font-size: 20px;
          font-weight: 400px;
          color: rgba(255, 255, 255, 1);
         }
         .h51{
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
         }
         .ul2 a {
          font-weight: 400px;
          font-size: 20px;
          color: rgba(255, 255, 255, 1);
          list-style: none;
          text-decoration: none;
         }
         a ,li{
          list-style: none;
         }


         


 @media screen and (max-width:576px){ 
    .nav1,.div35,.ul33{
      flex-direction: column;
    }

  .containner {
    flex-direction: column-reverse;
    width: 100%;
  
 }
 .card-containner{
  flex-direction: column;
  width: 100%;
 }
 .box-image ,.div5{
  display: none;
 }
 .second-div{
  grid-template-columns: repeat(2,1fr);
 }
 .footer{
  flex-direction: column;
  width: 100%;

 }
 .div6{
  grid-template-columns: 1fr;
 }
 
}
